<% layout('layout/layout') %>

<div class="container user-form" style="height:100%">
    <div>
        <span class="site-logo my-5">Donate the Cause</span>
        <form id="donate">
            <div class="form-group">
                <label>We greatly appreciate your generosity! Every gift helps us to provide vital monetary support for our program participants. After each community-based conversation, participants are compensated for sharing their stories. We know that having access to critical resources can positively impact someone's life when they're overcoming mental health challenges.
                    We believe that everyone's time, voice, and presence is extremely valuable. We hope to eliminate the barriers people face while seeking adequate mental health care and ultimately increase accessibility. Your support helps us serve as a safety net until we can connect our participants with the resources they need to thrive.



                    Our program participants typically receive one-time emergency financial support with the following areas:



                    <b>Mental health medication,

                    Mental health books,

                    Therapy,

                    Counseling,

                    Drug and alcohol treatment,

                    Groceries,

                    Childcare,

                    Transportation,

                    Health medication,

                    Clothing,

                    Professional development,

                    Educational development</b></label>
            </div>
            <a href="https://www.steelsmilingpgh.org/donate" class = "btn btn-primary active" button type="button" name="Donate">Donate</abutton> </a>
        </form>
    </div>

<!--
<% include partials/panels/panel %>-->
