<% layout('layout/layout') %>


<div class="container user-form py-5">
<br>
  <a href="/resourceupload" class="btn btn-outline-primary" style="float: right" ><span>Create Resource</span></a>
</br>
    <span class="site-logo my-3">Community Network Resources</span>

<div class="container">

     <div class="row">
      <% for(var i=0;i<resources.length;i++){ %>
         <div class="col-xs-12 col-sm-6 col-md-4">

             <div class="image-flip" ontouchstart="this.classList.toggle('hover');">

                 <div class="mainflip">

                     <div class="frontside">

                         <div class="card">

                             <div class="card-body text-center">

                                 <p><img class=" img-fluid" src="../images/logo.jpg" alt="card image"></p>
                                  <div class="card-title"><%= resources[i].name%></div>
                                  <div id="greetings" class="card-title"><%= resources[i].description%></div>
                                  <a href ="#"  class="card-title"></a>
                                 <a href = <%= resources[i].website%> id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
                                    Read More!</a>

                                 <br></br>         </div>
                         </div>
 <br></br>
                     </div>



                 </div>

             </div>
         </div>


      <% } %>

     </div>
 </div>
 </div>