<% layout('layout/layout') %>


<div class="container user-form py-5">
    <span class="site-logo my-3">Community Network Resources Upload</span>

<div class="container">

     <div class="container user-form py-5">
         <!--  <span class="site-logo my-3">Resource Information Upload</span>--->
       <span class ="resource">Resource Information Upload</span>
           <!-- <div class="col-12 col-lg-4 offset-lg-2">%>  --->
             <form id="signup" class="mt-5">
                 <div class="form-group">
                   <input type="text" name="Name of the resource" value="" class="form-control" placeholder="Name of the Organisation ">
                 </div>
                 <div class="form-group">
                   <input type="text" name="Bio of the Resource" value="" class="form-control" placeholder="Information about the organization">
                 </div>
                 <div class="form-group">
                   <input type="text" name="hyperlink of the resource" value="" class="form-control" placeholder="Hyperlink to resource">
                 </div>
                 <div class="form-group">
                   <label for="upload" name="uploadIcon" class="px-2"><i class="fa fa-camera mr-2"></i> Upload Icon</label>
                   <input type="file" name="upload" class="upload">

                 </div>
                   <button type="submit" name="submit">submit</button>
             </form>
 </div>
 </div>