<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <!--<body style="background-color:powderblue;"> -->
  <body background="">
     <%- body -%>

    <% include ../partials/footer %>
  </body>
</html>

